body{
    background: rgb(255,64,0);
background: linear-gradient(90deg, rgba(255,64,0,1) 75%, rgba(4,150,7,1) 100%, rgba(9,9,121,1) 100%, rgba(9,8,116,1) 100%, rgba(36,1,0,1) 100%);
}
#p1{
    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

#p2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

h1,h2{
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    margin: 10px 10px 10px 10px;
}