body{
    background-color: black;
    
}
h3{
    color: aqua;
    text-align: center;
    border: 1px solid aqua;
}
ul{
    color: blueviolet;
    border: 1px solid blueviolet;
}
ol{
    color: chartreuse;
    border: 1px solid chartreuse;
}